@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #191622;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Fira Code';
    color: #FFF;
    border-bottom: 1px solid #fff;
}

nav > ul  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-family: 'Fira Code';
    text-transform: uppercase;
    font-weight: bold;
}

nav > ul > li {
    padding: 10px;
}

nav > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 14px !important;
}

nav > ul > li > a:hover {
    color: #67E480;
}

footer {
    display: flex;
    width: 100%;
    padding: 20px;
    font-family: 'Fira Code';
    position: fixed;
    bottom: 0;
    border-top: 1px solid #fff;
    justify-content: center;
    color: #fff;
}